* {
    color: #FFFFFF;
    font-size: 16px;
    font-family: system-ui;
    border-radius: 20px;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
}

#outer-box {
    background: #2C2C2C;
}

#input {
    padding-top: 6px;
    padding-bottom: 6px;
}

#scroll {
    background: #212121;
    padding: 4px;
}

#entry {
    margin: 4px;
    background: #2C2C2C;
    border-radius: 12px;
}

#entry:selected {
    background: #3C3C3C;
}

image,
label {
    padding: 4px;
}
