* {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    font-family: system-ui;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
}

#outer-box {
    background: #2C2C2C;
}

#input {
    padding-top: 6px;
    padding-bottom: 6px;
}

#scroll {
    background: #212121;
    padding-left: 16px;
    padding-right: 16px;
}

#entry {
    margin-left: 16px;
    margin-right: 16px;
    background: #2C2C2C;
    border-radius: 12px;
}

#entry:selected {
    background: #3C3C3C;
}

image,
label {
    padding: 4px;
}
