* {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    border-radius: 0px;
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
}

#outer-box {
    background: #202020;
}

#input {
    padding-top: 6px;
    padding-bottom: 6px;
}

#scroll {
    background: #101018;
    padding: 32px;
}

#entry {
    border-radius: 12px;
    padding: 8px;
}

#entry:selected {
    background: #202020;
}
