[Desktop Entry]
Type=Application

Icon=/home/programs/brave/product_logo_256.png
Name=Brave
GenericName=Web Browser
Comment=Browser for the Internet

Exec=/home/programs/brave/brave --password-store=basic
Terminal=false
