[Desktop Entry]
Type=Application

Icon=/home/programs/nekoray/nekobox.png
Name=NekoBox
Comment=Proxy configuration manager

Exec=/home/programs/nekoray/nekoray
Terminal=false
