/* "otf-font-awesome" is required to be installed for icons */

@define-color text-color #FFFFFF;
@define-color half-color #808080;
@define-color back-color #101018;

* {
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: none;
    outline: none;
    border: none;
}

window {
    background: none;
}

tooltip label {
    padding: 8px;
}

menu {
    background: #202020;
}

menu separator {
    background: #404040;
    margin-left: 12px;
    margin-right: 12px;
}


#custom-apps,
#language,
#clock {
    color: @text-color;
    background: @back-color;
    padding-left: 10px;
    padding-right: 10px;
}


#taskbar {
    background: @back-color;
}

#taskbar.empty {
    background: none;
}

#taskbar button {
    padding: 4px;
}

#taskbar button.active {
    background: #204020;
}


#workspaces {
    background: @back-color;
    border-radius: 20px;
}

#workspaces button {
    color: @half-color;
    min-width: 16px;
    border-radius: 20px;
}

#workspaces button.visible {
    color: @text-color;
}

#workspaces button.active {
    background: #202040;
}


#group-system,
#systemd-failed-units,
#cpu,
#memory,
#temperature,
#battery,
#group-tray,
#pulseaudio,
#privacy,
#tray,
#group-power,
#custom-lock,
#custom-logout,
#custom-restart,
#custom-poweroff {
    color: @text-color;
    background: @back-color;
    padding-left: 5px;
    padding-right: 5px;
}

#pulseaudio {
    font-size: 16px;
}

#privacy {
    color: #FFFF40;
}

#pulseaudio.in,
#custom-lock:hover,
#custom-logout:hover,
#custom-restart:hover,
#custom-poweroff:hover {
    color: #FF4040;
}
