/* "otf-font-awesome" is required to be installed for icons */

* {
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: none;
    outline: none;
    border: none;
}

window {
    background: none;
}

tooltip label {
    padding: 8px;
}

#tray menu {
    background: #202020;
}

#tray separator {
    background: #404040;
    margin-left: 12px;
    margin-right: 12px;
}


#taskbar,
#workspaces,
#group-privacy,
#pulseaudio.mic,
#privacy,
#tray {
    color: #FFFFFF;
    background: #101018;
}

#custom-apps,
#pulseaudio,
#language,
#clock {
    color: #FFFFFF;
    background: #101018;
    padding-left: 10px;
    padding-right: 10px;
}


#taskbar button {
    padding: 4px;
}

#taskbar button.active {
    background: #204020;
}


#workspaces {
    border-radius: 20px;
}

#workspaces button {
    border-radius: 20px;
    min-width: 16px;
    color: #808080;
}

#workspaces button.visible {
    color: #FFFFFF;
}

#workspaces button.active {
    background: #202040;
}


#pulseaudio.mic {
    padding-left: 2px;
    padding-right: 2px;
}

#group-privacy,
#privacy {
    padding-left: 4px;
    padding-right: 4px;
}

#tray {
    padding-left: 8px;
    padding-right: 8px;
}

#privacy {
    color: #FFFF40;
}

#pulseaudio.mic,
#custom-lock:hover,
#custom-logout:hover,
#custom-restart:hover,
#custom-poweroff:hover {
    color: #FF4040;
}

#group-hardware,
#systemd-failed-units,
#cpu,
#memory,
#temperature,
#battery,
#group-power,
#custom-lock,
#custom-logout,
#custom-restart,
#custom-poweroff {
    color: #FFFFFF;
    background: #101018;
    padding-left: 5px;
    padding-right: 5px;
}
