/* `otf-font-awesome` is required to be installed for icons */

* {
    border-radius: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: none;
    outline: none;
    border: none;
}

window {
    background: none;
}

tooltip label {
    padding: 8px;
}

#tray menu {
    background: #202020;
}

#tray separator {
    background: #404040;
    margin-left: 12px;
    margin-right: 12px;
}


#taskbar button,
#workspaces button,
#privacy,
#tray,
#pulseaudio,
#battery,
#language,
#clock,
#group-power,
#custom-lock,
#custom-logout,
#custom-restart,
#custom-poweroff {
    color: #FFFFFF;
    background: #101018;
    padding-left: 10px;
    padding-right: 10px;
}


#taskbar button {
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 6px;
    padding-right: 6px;
}

#taskbar button:first-child {
    margin-left: 0;
}

#taskbar button:last-child {
    margin-right: 0;
}

#taskbar button.active {
    background: #103010;
}


#workspaces {
    margin-left: 32px;
    margin-right: 32px;
}

#workspaces button {
    color: #808080;
    border-radius: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

#workspaces button.visible {
    color: #FFFFFF;
}


#pulseaudio.mic,
#tray {
    padding-left: 8px;
    padding-right: 8px;
}

#group-power,
#custom-lock,
#custom-logout,
#custom-restart,
#custom-poweroff {
    padding-left: 5px;
    padding-right: 5px;
}

#custom-lock:hover,
#custom-logout:hover,
#custom-restart:hover,
#custom-poweroff:hover {
    color: #FF4040;
}
