* {
    border-radius: 36px;
    font-weight: bold;
    font-size: 24px;
    outline: none;
    border: none;
}

#window {
    background: #101010;
    color: #FFFFFF;
    border: solid 2px #202020;
}

#input {
    background: #202020;
    padding: 8px;
}

#scroll {
    padding: 8px;
}

#entry:selected {
    background: #202020;
}

#img {
    margin: 8px;
}
