[Desktop Entry]
Type=Application

Icon=android-studio
Name=Android Studio
Comment=IDE for android application development

Exec=/home/programs/android/studio/bin/studio %f
Terminal=false
