[Desktop Entry]
Type=Application

Icon=/home/programs/brave/product_logo_256.png
Name=Brave
Comment=Web browser for accessing the internet

Exec=/home/programs/brave/brave --password-store=basic
Terminal=false
