[Desktop Entry]
Type=Application

Icon=/home/programs/brave/product_logo_256.png
Name=Brave (Private)
Comment=Web browser for accessing the internet in private mode

Exec=/home/programs/brave/brave --password-store=basic --incognito
Terminal=false
