[Desktop Entry]
Type=Application

Icon=brave-desktop
Name=Brave
Comment=Web browser for accessing the internet

Exec=/home/user/.local/bin/brave/browser/brave --ozone-platform=wayland --password-store=basic %U
Terminal=false
