[Desktop Entry]
Type=Application

Icon=brave-desktop
Name=Brave
Comment=Web browser for accessing the internet

Exec=/home/programs/brave/brave --ozone-platform=wayland %U
Terminal=false
