[Desktop Entry]
Type=Application

Icon=minecraft-launcher
Name=Minecraft Launcher
Comment=Launcher for the Minecraft game

Exec=/home/user/.minecraft/launcher/minecraft-launcher
Terminal=false
