[Desktop Entry]
Type=Application

Icon=preferences-system-network-proxy
Name=NekoBox
Comment=Proxy configuration manager

Exec=/home/programs/nekoray/nekobox
Terminal=false
